* {
    padding: 0;
    margin: 0;
}


header {
    background-color: white;
    color: black;
    padding: 2vh 0 2vh 0;
    text-align: center;
    position: relative;
}

.header_logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* margin: 0 auto; */
    text-align: center;
    margin-left: 25px;
}

.logo_img {
    /* width: 60vw; */
    height: 10vh;
}

/* hamburger */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    /* 初期状態では非表示 */
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: #ff8165;
}

/* ナビゲーションメニューのスタイル */
.nav-menu {
    position: fixed;
    top: 0;
    right: -250px;
    /* 初期状態で画面の外 */
    width: 250px;
    height: 100%;
    top: 14vh;
    background-color: white;
    /* border-left: 1px solid #ccc; */
    /* box-shadow: -2px 0 5px rgba(0,0,0,0.5); */
    z-index: 1000;
    transition: right 0.3s ease;
    /* トランジション効果 */
    text-align: center;
    /* ナビゲーションメニューのテキストを中央揃え */
}

.nav-menu.open {
    right: 0;
    /* オープン状態で表示 */
}

.nav-menu ul {
    list-style-type: none;
    margin: 60px 0 0;
    /* ナビゲーションメニューの上部の余白を調整 */
    padding: 0;
}

.nav-menu ul li {
    padding: 10px 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #ff8165;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* メディアクエリ */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    /* メニューが表示されたときのスタイル */
    .nav-menu.show {
        opacity: 1;
        /* 不透明にする */
        visibility: visible;
        /* 可視にする */
    }
}


/* コンテンツエリアのスタイル */
main {
    background-color: #f98e76;
    color: white;
    padding: 20px;
    min-height: 100vh;
    /* コンテンツエリアを画面全体の高さにします */
}

/* slide-show */
/* スライドショーのコンテナ */
.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    /* スライドショーの最大幅を設定 */
    margin: auto;
    justify-content: center;
    display: flex;
}

/* スライド */
.fade {
    position: absolute;
    width: auto;
    height: 400px;
    opacity: 0;
    /* 初期状態では透明 */
    transition: opacity 1s ease;
    /* トランジションを追加 */
}

/* 画像 */
.fade img {
    width: auto;
    height: 400px;
    object-fit: cover;
}

/* Next Stage */


hr {
    border: 0;
    height: 1px;
    background: white;
}

.text_NS {
    font-size: 1.5vw;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text_NS_ns {
    font-size: 1.5vw;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10%;
}

.stage_name {
    text-align: center;
}

.img_NS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_NS {
    width: 60%;
    height: auto;
}

.time_NS {
    line-height: 1.8;
}

.day {
    font-size: 1.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.kasou h1 {
    padding-left: 20%;
}

.white {
    background-color: rgb(255, 255, 255);
    min-height: 20vh;
    color: #3f3f3f;
    padding: 10px;
    width: 50vw;
    justify-content: center;
    /* display: flex; */
    margin: auto;
    border-radius: 1vw;
}

.white_his {
    background-color: rgb(255, 255, 255);
    min-height: 20vh;
    color: #3f3f3f;
    padding: 10px;
    width: 50vw;
    /* justify-content: center; */
    /* display: flex; */
    margin: auto;
    position: relative;
    border-radius: 1vw;
}

.white_top {
    background-color: rgb(255, 255, 255);
    min-height: 20vh;
    color: #3f3f3f;
    padding: 10px;
    width: 50vw;
    justify-content: center;
    display: flex;
    margin: auto;
    position: relative;
    border-radius: 1vw;
}

.white hr {
    border: 0;
    height: 1px;
    background: #ff8165;

}

.title {
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #ff8165;
}

.text_news {
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* デフォルトの下線を消します */
    color: inherit;
    /* リンクの色をテキスト色に合わせます */
}

.text_news:hover {
    text-decoration: underline;
}

.bold_text {
    font-weight: bold;
    font-size: 25px;
    color: #ff8165;
}

.image_about {
    width: 100%;
    height: auto;
}

.image_about_big {
    width: 60%;
    height: auto;
}

.kasou {
    padding: 50px;
}

.kasou_his {
    padding: 20px;
}

.kasou_text {
    line-height: 1.5;
}

.zisage {
    text-indent: -1em;
    margin-left: 14px;
}

.detail {
    font-size: 1.4vw;
    color: #ff8165;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_about {
    width: 60%;
    height: auto;
}

.image_about_member {
    width: 80%;
    height: auto;
}

.headline {
    color: #ff8165;
}

.headline1 {
    color: #ff8165;
    margin-right: 1em;
}

.headline2 {
    color: #ff8165;
    margin-right: 2em;
}

.headline3 {
    color: #ff8165;
    margin-right: 3em;
}

.text_member {
    font-size: 10px;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image_nextstage {
    width: 30%;
    height: auto;
}

.title_nextstage {
    text-align: center;
}

.head_ns {
    font-size: 1.6vw;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8165;
    line-height: 1.8;
    margin-left: 8.5%;
}

.head_ns_epi {
    font-size: 1.6vw;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8165;
    line-height: 1.8;
    margin-left: 10%;
}

.head {
    font-size: 1.6vw;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8165;
    line-height: 1.8;
}

.text_epi {
    font-size: 1.5vw;
}

.name {
    color: #3f3f3f;
    margin-left: 1em;
    margin-left: 10%;
    font-size: 1.5vw;
}

.pole {
    margin-left: 10%;
    line-height: 1.8;

}

.nobr {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.member_intro {
    position: relative;
}

.member_sns {
    /* position: absolute; */
    display: flex;
    top: 0;
    right: 0;
}

.img_mem_insta {
    padding-top: 3px;
    padding-right: 5px;
}

.member_x {
    width: auto;
    height: 36px;
}

.member_insta {
    width: auto;
    height: 30px;
}

.name_snsicon {
    display: flex;
}

.image_sam {
    width: auto;
    height: 20vh;
}

.news_title {
    text-align: center;
}

.history_title {
    /* text-align: center; */
    font-size: 2.5vw;
}

.history_link {
    text-decoration: none;
    position: relative;
}

.NextStage {
    position: relative;
}

.am_top {
    background-color: white;
    width: 150px;
    color: black;
    border: solid 1.5px black;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;

}

.am_top:hover {
    background-color: #008CBA;
    color: white;
    justify-content: center;
}

.am {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: white;
    width: 50px;
    color: black;
    border: solid 1.5px black;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
.am:hover {
    background-color: #008CBA;
    color: white;
    justify-content: center;
}

.link_contain {
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.link {
    color: #ff8165;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 2;
    text-decoration: none;
    padding-left: 20vw;
}

.sns_contain {
    display: flex;
    justify-content: center;
    /* column-gap: 60px; */
    padding-bottom: 40px;
    align-items: center;
}

.company_x_wrip {
    /* padding-top: 10px; */
    padding-left: 25px;
    padding-right: 6px;
}

.company_x {
    width: auto;
    height: 35px;
}

.company_insta {
    width: auto;
    height: 90px;
}

.company_youtube {
    width: auto;
    height: 60px;
}

.CC {
    padding-bottom: 15px;
    text-align: center;
    font-family: "kosugi-maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image_youtube_maru {
    width: auto;
    height: 2.5vw;
}

.icon_youtube {
    right: 0;
    margin-left: 2vw;
}

.epi_youtube {
    display: flex;
}

.intro_top {
    display: flex;
}

.intro_top_left {
    width: 50%;
}

.intro_top_right {
    width: 50%;
}